@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="site-navbar py-2">
      <div class="search-wrap">
        <div class="container">
          <a class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form asp-controller="Store" asp-action="Index" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter..." name="SearchString" value="@ViewData["CurrentFilter"]">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a asp-area="" asp-controller="Home" asp-action="Index" class="js-logo-clone">Pharma</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Store" asp-action="Index">Store</a></li>
                <li><a asp-area="" asp-controller="About" asp-action="Index">About</a></li>
                <li><a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a></li>
                <li>@await Html.PartialAsync("_LoginPartial")</li>
              </ul>
            </nav>
          </div>
          <div class="icons">
             <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
            <a asp-area="" asp-controller="Cart" asp-action="Index" class="icons-btn d-inline-block bag">
              <span class="icon-shopping-bag"></span>
              <span class="number"></span>
            </a>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>