@page
@model LogoutModel
@{
    ViewData["Title"] = "Are you sure you want to log out?";
}

<header>
    <div class="col-md-8 offset-md-2">
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="btn btn-primary px-5 py-3">Click here to logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
    </div>
</header>
