@{
}
<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
	<h1>Admin panel. Choose table.</h1>
	
</div>
<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
	<h3><a asp-controller="ProductsAdmin" asp-action="Index">Products</a></h3>
</div>